*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
    color: rgb(59, 59, 245);
    transition: .5s;
}

a:hover {
    color: blue;
}

nav .header{
    align-items: center;
    justify-content: center;
}
