*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
    color: rgb(59, 59, 245);
    transition: .5s;
}

a:hover {
    color: rgb(4, 201, 184);
}

/* Header */
nav .header{
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid;
} 

/* CompanyList */
div .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.box-company {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    border: black solid;
}

div .box .box-company img{
    width: 200px;
    height: 150px;
    border: 5px solid;
    border-color: rgb(4, 201, 184);
    border-radius: 100px;
}
